# Dataset
pytorch/data/
py/data/
py/data/mnist_train.csv
py/data/mnist_test.csv
cpp/data/
cpp/data/mnist_train.csv
cpp/data/mnist_test.csv

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# cpp build files
cpp/build/*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/